@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Carga o escribe tu archivo pascal</h1>
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col-7">
                <fieldset>
                    <!--<legend>Inserta el texto</legend>-->

                    <form method="post" enctype="multipart/form-data">
                        <input type="file" asp-for="UploadedFile" />
                        <button type="submit" asp-page-handler="SubirArchivo" class="btn btn-primary">Subir Archivo</button>

                        <br />
                        @if (!string.IsNullOrEmpty(Model.StatusMessage))
                        {
                            <span class="text-info">@Model.StatusMessage</span>
                        }
                        <hr />

                        <textarea asp-for="PascalCode" class="form-control" rows="10"></textarea>

                        <button type="submit" asp-page-handler="Generar">Listo</button>
                    </form>
                </fieldset>
            </div>
            <div class="col">
                @Html.Raw(Model.Meme)
            </div>
        </div>
    </div>
    
    <br />
    @if (Model.DataT != null && Model.DataT.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>Tokens</th>
                    <th>Caracter</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataT)
                {
                    <tr>
                        <td>@item.tokens</td>
                        <td>@item.caracter</td>
                        <td>@item.tipo</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <p>@Model.Info</p>
    <p>salida</p>
    salsa
    <p></p>
</div>
